<h1>Home</h1>

<script src="/static/js/app.js"></script>

<div class="row">
  <div class="col-md-4">
    <h2>Words</h2>
    <div class="inputword"></div>
    </div>
  <div class="col-md-4">
  <h2>Rhymes</h2>
  <div class="rhymeswith"></div>
  </div>
  <div class="col-md-4x"><h2>Jokes</h2></div>
</div>

  <video  width="640" height="480" autoplay>
  </video>

  <button id="screenshot-button">Snap Photo</button>
  <canvas id="screenshot-canvas" width="640" height="480"></canvas>

 
    






  <div class="col s12 m4 l2"><p>.</p></div>
</div>